{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
<h1>ISTRUZIONI</h1>
<h3>LA SUA SCELTA</h3>
<p />
<div class="w3-container border-top border-bottom">
    <p></p>
<ul>
    <li> Le sono assegnati 100 gettoni.</li>
    <p />
    <li> La preghiamo di assegnare tutti i gettoni nei vari intervalli.</li>
    <p />
	<li> Gli intervalli rappresentano la variazione di reddito/ettaro riferito alla produzione di mele che pensa potrà ottenere alla fine del 2022.</li>
    <p />
    <li> L’assegnazione dei gettoni dovrebbe rispecchiare la sua opinione riguardo la probabilità di ottenere queste variazioni di reddito/ettaro alla fine del 2022.</li>

</ul>
</div>
<p />
<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}