{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
<h1>ISTRUZIONI</h1>
<h3>La sua scelta</h3>
<p />
<div class="w3-container border-top border-bottom">
    <p></p>
    	<img src="{%static 'Fase1/choiceex.jpg' %}"  align="middle" width="100%"/>
<ul>
    <p />
	<li> Gli intervalli rappresentano la variazione di reddito/ettaro riferito alla produzione di mele che pensa potrà ottenere alla fine del 2022.</li>
    <p />
    <li> L’assegnazione dei gettoni dovrebbe rispecchiare la sua opinione riguardo la probabilità di ottenere queste variazioni di reddito/ettaro alla fine del 2022.</li>
</ul>
</div>
<p />

{% endblock %}