{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
<h1>ISTRUZIONI</h1>
<h3>COME VENGONO STABILITE LE VARIAZIONI DI REDDITO PER IL 2022?</h3>
<p />
<div class="w3-container border-top border-bottom">
    <p></p>
<ul>
    <li> L'esatta variazione rispetto al reddito ad ettaro medio a fine 2022 è difficile da determinare in questo momento.</li>
    <p />
        <li> Ma ci serve un valore per portare a termine lo studio e quantificare i suoi guadagni.</li>
    <p />
</ul>
<p>Perciò:</p>
    <ul>
	<li> La variazione di reddito ad ettaro da mele a fine anno 2022 è determinata sulla base di previsioni fornite da esperti
        e sulla base dell'andamento dei redditi negli anni precedenti</li>
</ul>
</div>
<p></p>
<div class="w3-container border-bottom">
    <h3>Gli esperti che sono stati consultati sono:</h3>
    <ul>
        <li> Co.Di.Pr.A.</li>
        <p></p>
        <li> Asnacodi</li>
        <p></p>
        <li> Melinda</li>
        <p></p>



    </ul>
</div>
<p />
<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}