{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
<h1>ISTRUZIONI</h1>
<h3>RIPETERE LA SCELTA</h3>
<p />
<div class="w3-container border-top border-bottom">
    <p></p>
<ul style="align:justify">
    <li> Dopo aver assegnato i gettoni Le daremo la possibilità di ripetere la scelta.</li>
    <p />
    <li> Le verrà presentata una schermata come in Figura</li>
    <p>&nbsp;  </p>
    <img src="{%static 'Fase1/repeat.jpg' %}"  align="middle" width="100%"/>
    <p>&nbsp;  </p>
    <li> Se non desidera ripetere la scelta cliccate <b>NO</b>.</li>
    <p></p>
     <li> Per ripetere la scelta e assegnare i gettoni in modo diverso cliccate su <b>RIPETERE</b>.</li>
    <p />
    <li> Vi daremo al massimo 2 volte la possibilità di ripetere la Scelta.</li>
    <p />
</ul>
</div>
<p></p>

<p />
<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}