{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
<h1>ISTRUZIONI</h1>
<h3>La sua scelta</h3>
<p />
<div class="w3-container border-top border-bottom">
	<ul>
    <p></p>
	<li>Lei dovrà indicare la sua opinione utilizzando lo strumento presentato nella figura di cui sotto.</li>
	<p></p>
	</ul>
    <p></p>
    	<img src="{%static 'Fase1/choiceex.jpg' %}"  align="middle" width="100%"/>
	<p></p>
<ul>
    </pè
	<li>Le vengono assegnati 100 gettoni e Lei + richiesto di distribuirli nei diversi intervalli utilizzando la seguente intuizione:</li>
	<p></p>
	<li> Maggiore è il numero di gettoni che assegna ad un intervallo, maggiore è la probabilità che quell' intervallo si verifichi in futuro secondo Lei.</li>
    <p></p>
</ul>
</div>
<p></p>
<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}