{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
   <style>
      input[type=radio] {
        transform: scale(1.5);
        margin: 12px -10px 0px -30px;
      }
   </style>
{% endblock %}

{% block content %}


<h1> Le Scelte </h1>

<div class="w3-container border-top ">
  <p></p>
  <ul>
  <li align = "justify"> Le verrà chiesto di effettuare delle scelte tra Opzione A e Opzione B. </li>
    <p></p>
  <li>Vi sono 3 Gruppi di Scelte.</li>
    <P></P>
  <li align = "justify"> La figura rappresenta un esempio della scelte che dovrete effettuare.</li>
</ul>
  </div>
<p></p>

    	<img src="{%static 'Fase2/choiceex2.jpg' %}"  align="middle" width="100%"/>



        <div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large">
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>



{% endblock %} -->
