{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
<h1>ISTRUZIONI</h1>
<h3>RIPETERE LA SCELTA</h3>
<p />
<div class="w3-container border-top border-bottom">
    <p></p>
<ul style="align:justify">
    <li> Dopo aver assegnato i gettoni avrete la possibilità di scegliere se ripetere la vostra scelta.</li>
    <p />
    <img src="{%static 'Fase1/repeat.jpeg' %}"  align="middle" width="100%"/>
    <li> Scegliendo <b>SI</b> potrete ripetere la scelta e assegnare i gettoni in modo diverso.</li>
    <p />
    <li> Vi è data la possibilità di ripetere al massimo 2 volte la Scelta.</li>
    <p />
</ul>
</div>
<p></p>

<p />
<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}