{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
<h1>ISTRUZIONI</h1>
<h3>Gli intervalli</h3>
<p />
<div class="w3-container border-top border-bottom">
	<ul>
    <p></p>
	<li>In questa fase, Le verrà richiesto di esprimere la sua opinione su quale sarà la variazione di reddito che Lei avra’ a fine 2022 rispetto alla media ottenuta nel  triennio 2018 – 2021.</li>
	<p></p>
	<li>Questi sono gli intervalli di variazione che Le chiadiamo di considerare:</li>
    <p></p>
</ul>
    <p></p>
    	<img src="{%static 'Fase1/interval.jpg' %}"  align="middle" width="100%"/>

</div>
<p></p>
<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}