{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
<h1>ISTRUZIONI</h1>
<h3> </h3>
<p />
<div class="w3-container border-top border-bottom">
    <p></p>
    <p> Assumendo che a Gennaio 2022 Lei sia un melicoltore con le seguenti caratteristiche:</p>
<ul>
    <li> La sua area a melo è pari a ettari.</li>
    <p />
    <li> Ha sottoscritto la polizza multirischio Co.Di.Pr.A. Il premio pagato è di €/ha. </li>
    <p />
	<li> Il valore di mele assicurato è di €/ha. </li>
    <p />
    <li> I suoi costi (esclusi ammortamenti e costi per il personale) per la produzioni sono pari a €/ha.</li>
</ul>
</div>

<p />
<div class="w3-container border-bottom">
    <h5 style="text-align:center"> I suoi redditi ad ettaro nel triennio 2018 - 2021 e il suo reddito medio</h5>
    <table class="table-bordered" style="width:100%">
        <tr style="background-color:#ffb380">
            <th scope="col"  colspan="1" style="text-align:center"> Anno </th>
            <th scope="col"  colspan="1" style="text-align:center"> 2018 - 2019 </th>
            <th scope="col"  colspan="1" style="text-align:center"> 2019 - 2020 </th>
            <th scope="col"  colspan="1" style="text-align:center"> 2020 - 2021 </th>
            <th scope="col"  colspan="1" style="text-align:center"> MEDIA </th>
        </tr>
        <tr style="background-color:#ffe0cc">
            <td scope="col"  colspan="1" style="text-align:center; width: 160px;"> Reddito/ettaro </td>
            <td style="text-align:center">  €/ha</td>
            <td style="text-align:center">  €/ha</td>
            <td style="text-align:center">  €/ha</td>
            <td style="text-align:center">  €/ha</td>
        </tr>
    </table>


<ul>
    <p />
    <li> Il reddito medio è calcolato considerando i ricavi della vendita delle Mele al netto dei costi
    (costi che come da Regolamento IST, considerano i costi di produzione diretti, escludendo ammortamenti e personale)</li>
</ul>
</div>
<p />
<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>


{% endblock %}

