{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
	RIPETERE LA SCELTA
{% endblock %}
{% block content %}

<div class="w3-container border-top border-bottom" style="text-align :center; font-size:25px" >

	<p>Grazie per aver assegnato i Gettoni.</p>
	<p>Adesso Le diamo possibilità di ripetere la scelta.</p>
	<p>Se non desidera ripetere la scelta clicchi <b>NO</b>. Altrimenti clicchi <b>RIPETERE</b> </p>

<button name = "rep_1" value = "RIPETERE" class="btn btn-outline-primary" btn-lg
		style="font-size:25px;text-align:center; margin: 10px 20px; padding:15px 35px">RIPETERE</button>
<button name = "rep_1" value = "NO" class="btn btn-outline-primary" btn-lg
		style="font-size:25px;text-align:center; margin: 10px 20px; padding:15px 35px">NO</button><p></p>
</div>
<p></p>
{% endblock %}
