{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h2> LA SUA SCELTA: UN ESEMPIO </h2>

{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static "global/empty.css" %}">
<div class="w3-container border-top border-bottom">
	<p></p>
<ul>
	<li> Supponiamo che lei abbia effettuato 1 ed 1 sola scelta: </li>
	<p></p>
	<li> Allora questa sarà usata per il suo pagamento </li>
</ul>
</div>
	<img src="{%static 'Fase1/examplea.jpg' %}"  align="middle" width="100%"/>

<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}
