{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Fase 4 Questionario
<p></p>
<p></p>
<p> Fondo IST Mele <p></p>
{% endblock %}
{% block content %}

{% formfield 'q16' %}

<p>Se <b>No</b> indichi una o più delle seguenti motivazioni?(possibile barrare più caselle)</p>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="True" name="q16_a">
  <label class="form-check-label">
    Costi elevati
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="True" name="q16_b">
  <label class="form-check-label">
    Mancanza di fiducia nello strumento
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="True" name="q16_c">
  <label class="form-check-label">
    Ho già sottoscritto una copertura assicurativa multirischio
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="True" name="q16_d">
  <label class="form-check-label">
    Non ho capito lo strumento come funziona
  </label>
</div>
<p></p>
    <p>17. Se dovesse scegliere quanti €/ettaro pagare come quota fissa per aderire alla copertura mutualistica del Fondo IST mele
        quale preferirebbe?(possibile barrare più caselle)</p>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="True" name="q17_a">
  <label class="form-check-label">
    50 €/ettaro
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="True" name="q17_b">
  <label class="form-check-label">
    100 €/ettaro
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="True" name="q17_c">
  <label class="form-check-label">
    150 €/ettaro
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="True" name="q17_d">
  <label class="form-check-label">
    200 €/ettaro
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="True" name="q17_e">
  <label class="form-check-label">
    250 €/ettaro
  </label>
</div>
<p></p>
     <p>18. Se dovesse scegliere una soglia di reddito per il Fondo IST mele
        quale preferirebbe?</p>
    <p> SOGLIA: LA PERCENTUALE DI CALO DI REDDITO ORDINARIO DELL'ANNO RISPETTO AL REDDITO MEDIO DEL TRIENNIO PRECEDENTE
    SUPERATA LA QUALE SI ATTIVA IL FONOD</p>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="True" name="q18_a">
  <label class="form-check-label">
    10%
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="True" name="q18_b">
  <label class="form-check-label">
    15%
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="True" name="q18_c">
  <label class="form-check-label">
    20%
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="True" name="q18_d">
  <label class="form-check-label">
    25%
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="True" name="q18_e">
  <label class="form-check-label">
    30%
  </label>
</div>

<P></P>
     <p>19. Se dovesse scegliere una percentuale di compensazione dal Fondo IST Mele
        quale preferirebbe?</p>
    <p> COMPENSAZIONE: LA PERCENTUALE MASSIMA APPLICATA ALLA PERDITA DI REDDITO PER IL CALCOLO DELL'IMPORTO MASSIMO DI
    INTERVENTO DEL FONDO MUTUALISTICO (MAX% PERDITA DI REDDITO) QUANDO VIENE SUPERATA LA SOGLIA</p>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="True" name="q19_a">
  <label class="form-check-label">
    Fino al 60%
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="True" name="q19_b">
  <label class="form-check-label">
    Fino al 65%
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="True" name="q19_c">
  <label class="form-check-label">
    Fino al 70%
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="True" name="q19_d">
  <label class="form-check-label">
    Fino al 75%
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="True" name="q19_e">
  <label class="form-check-label">
    Fino al 80%
  </label>
</div>
<p></p>
    {% formfield 'q20' %}
    {% formfield 'q21' %}

<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-center:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}