{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
<h3>Gli Esperti</h3>
<p />
<div class="w3-container border-top border-bottom">
    <ul>
        <li> Co.Di.Pr.A.</li>
        <li> Asnacodi</li>
        <li> Melinda</li>
        <li> F.E.M </li>
        <li> F.E.M</li>
    </ul>
</div>
<p />
<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}