{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
<h1>ISTRUZIONI</h1>
<h3>I REDDITI DA MELE</h3>
<p />
<div class="w3-container border-top border-bottom">
    <p></p>
    <p><img src="{%static 'Fase2/bag3.jpg' %}"  align="left" height="310px" > </p>
    <p></p>
<ul>
    <li> OGGI, non è possibile conoscere con esattezza se si verificherà lo Scenario 1 o lo Scenario 2.</li>
    <p/>
    <li> Ma ci serve un valore per portare a termine lo studio e procedere con il suo pagamento.</li>
    <p/>
</ul>
<p>Perciò:</p>
    <ul>
        <li>Lo scenario che si verificherà sarà determinato  dall’estrazione da un’urna contenente 100
            possibili variazioni di reddito.</li>
        <p></p>
        <li>Le proporzioni dell’urna in questa Fase non vi sono rivelate.</li>
        <p></p>
        <li>Le proporzioni dell’urna, e dunque la probabilità che si verifichi uno dei due Scenari, si basano
            su previsioni fornite da esperti e sull'andamento dei redditi negli anni precedenti.</li>
</ul>
        <p>&nbsp;</p>
</div>
<div class="w3-container border-bottom">
    <p></p>
    <h3>GLI ESPERTI</h3>
    <ul>
        <li> Co.Di.Pr.A.</li>
        <p></p>
        <li> Asnacodi</li>
        <p></p>
        <li> Melinda</li>
        <p></p>
        <li> F.E.M </li>
        <p></p>



    </ul>
</div>
<p />
<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}