
{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block content %}

<h1>Il Fondo IST MELE </h1>
<h3>Come si Accede</h3>
<p />

<div class="w3-container border-top border-bottom">

    <ul style="text-align: justify">
        <p></p>
        <li>Si accede alla copertura mutualistica del Fondo IST versando:</li>
        <ul>
            <p></p>
            <li> Una quota di adesione al Fondo per 3 anni  pari a € 10.</li>
            <p></p>
            <li>Un contributo associativo per la copertura mutualistica di anno in anno.</li>
        </ul>
        <p></p>
        <p style="text-align: center"> <b>Al contributo associativo annuale versato dal melicoltore si aggiunge una quota di contribuzione pubblica
            (Comunità Europea) pari al 70% del totale.  </b></p>
        <p></p>
        <li>Per ogni vostro 1 € di quota versata si aggiungono 2,33 € di contributo pubblico europeo.</li>
      </ul>
</div>
<p></p>
<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}
