{% extends "global/Page.html" %}
{% load staticfiles otree %}


{% block content %}


<h1> I Guadagni </h1>

<div class="w3-container border-top ">
    <p></p>
  <h5> Se nella situazione 4 avete scelto l'Opzione B </h5>
    <p></p>
    	<img src="{%static 'Fase2/example1b.jpg' %}"  align="middle" width="100%"/>
    <ul>
    <p></p>
  <li>Se si verifica lo Scenario 1 (Calo del reddito), allora riceverà <b>€{{b11|safe}}</b></li>
    <P></P>
</ul>
  </div>
<div class="w3-container border-top ">
    <p></p>
    	<img src="{%static 'Fase2/example2b.jpg' %}"  align="middle" width="100%"/>
    <ul>
    <p></p>
  <li>Se si verifica lo Scenario 2 (Aumento del reddito), allora riceverà <b>€{{b12|safe}}</b></li>
    <P></P>
</ul>
  </div>
        <div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large">
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>



{% endblock %} -->
