{% extends "global/Page.html" %}
{% load staticfiles otree %}


{% block content %}


<h1> FASE 3: I suoi guadagni </h1>

<div class="w3-container border-top ">
	<p></p>
		<h5> <b>La Situazione #{{rrow}}</b> è stata estratta per il pagamento.</h5>
<p></p>
</div>
     <table class="table" style="width:100%">
		<thead>
  		<tr>
    		<th scope="col"></th>
			<th scope="col" colspan="2"  style="text-align:center">A</th>
			<th scope="col" colspan="2"  style="text-align:center">B</th>
  		</tr>
		</thead>
		<thead>
		<tr style="horizontal align: middle">
			 <th scope="col">#</th>
   			 <th scope="col" colspan="2"  style="text-align:center; width:44%"> ADERIRE ALLA COPERTURA MUTUALISTICA (RIMBORSO 70%) </th>
   			 <th scope="col" colspan="2"  style="text-align:center; width:44%; horizontal align: top">NON-ADERIRE ALLA COPERTURA MUTUALISTICA <p></p> </th>
 	 	</tr>
		</th>
		</thead>
		<tr>
			<th scope="row">{{rrow}}</th>
			<td style="text-align:center"> €{{ra_value|safe}} </td>
			<td style="text-align:center"> €{{raa_value|safe}}</td>
			<td style="text-align:center"> €{{rb11_value|safe}}</td>
			<td style="text-align:center"> €{{rb12_value|safe}}</td>
		</tr>
		</table>
<!-- The lottery chosen -->
	<div class="w3-container border-top ">
		<p></p>
		<p>Hai scelto in questa situazione:
		{% if rchoice == 1 %}
    <b>Opzione A.</b>
		{% else %}
    <b>Opzione B.</b>
		{% endif %}
</p>
<p> Si è verificato lo scenario:
{% if rpayoff_HL == raa_value %}
		<b> Aumento di Reddito</b>
		{% elif rpayoff_HL == rb11_value %}
		<b> Calo di Reddito</b>
		{% elif rpayoff_HL == rb12_value %}
		<b> Aumento di Reddito</b>
		{% else %}
		<b> Calo di Reddito</b>
		{% endif %}
</p>

<p> Quindi, il suo guadagno è di Euro <b>{{rpayoff_HL|safe}}</b></p>
</div>


<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>


{% endblock %}
