{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
   <style>
      input[type=radio] {
        transform: scale(1.5);
        margin: 12px -10px 0px -30px;
      }
   </style>
{% endblock %}

{% block content %}


<h1>Le sue Scelte </h1>
<h3>Gruppo 2</h3>
  <h5>Prego scelga tra Opzione A e Opzione B nelle seguenti Situazioni</h5>
<p></p>
<p></p>
<table class="table table-hover" style="width : 100%">
<thead>
  <tr>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col" colspan="2" style="text-align:center">A</th>
    <th scope="col" colspan="2"  style="text-align:center">B</th>
    <th scope="col"></th>
  </tr>
</thead>
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col" colspan="1" style="text-align:center; width: 15%"> Quota €/ettaro IST </th>
    <th scope="col" colspan="2" style="text-align:center"> ADERIRE ALLA COPERTURA MUTUALISTICA (RIMBORSO 70%) </th>
    <th scope="col" colspan="2"  style="text-align:center">NON-ADERIRE ALLA COPERTURA MUTUALISTICA </th>
    <th scope="col" style="text-align:center"> CLICCA PER SCEGLIERE</th>
  </tr>
  </th>
  </tr>
  </thead>
  </tr>
</tr>
</thead>
  <thead>
  <tr style="font-size: 90%">
    <th scope="col"></th>
    <th scope="col"></th>
    <th colspan="1" scope="col" style="text-align:center;font-weight:normal" > Il reddito nel 2022 sarà inferiore alla &nbsp;&nbsp;&nbsp;media tra &nbsp;&nbsp;&nbsp;
        <b>-{{var3}}%</b> e <b>-{{var33}}% </b></th>
    <th scope="col" colspan="1" style="text-align:center;font-weight:normal"> Il reddito nel 2022 sarà superiore alla &nbsp;&nbsp;&nbsp;&nbsp;media tra &nbsp;&nbsp;&nbsp;&nbsp;
        <b>+{{var4}}% </b> e <b> +{{var44}}%</b> </th>
    <th scope="col" colspan="1" style="text-align:center;font-weight:normal">Il reddito nel 2022 sarà inferiore alla &nbsp;&nbsp;&nbsp;&nbsp;media tra &nbsp;&nbsp;&nbsp;&nbsp;
        <b>-{{var3}}% </b> e <b> -{{var33}}%</b></th>
    <th scope="col" colspan="1"  style="text-align:center;font-weight:normal">Il reddito nel 2022 sarà superiore alla &nbsp;&nbsp;&nbsp;&nbsp;media tra &nbsp;&nbsp;&nbsp;&nbsp;
        <b>+{{var4}}% </b> e <b> +{{var44}}%</b></th>
    <th colspan="1" scope="col" style="text-align:center;"></th>
</tr>
      </thead>
<tbody>
<!-- Row 1 -->
  <tr>
    <th scope="row">1</th>
    <td style="text-align:center; horizontal align: middle"> € {{ist1}}</td>
    <td style="text-align:center; horizontal align: middle"> € {{s2_a1_1|safe}}  </td>
    <td style="text-align:center">  € {{s2_a2_1|safe}}</td>
    <td style="text-align:center"> € {{s2_b1|safe}}</td>
    <td style="text-align:center"> € {{s2_b2|safe}} </td>
        <td style="font-weight: bold; text-align: center" width="130px">{{ form.s2_HL_1 }}</td>

  </tr>
<!-- Row 2 -->
  <tr>
    <th scope="row">2</th>
    <td style="text-align:center; horizontal align: middle"> € {{ist2}}</td>
    <td style="text-align:center; horizontal align: middle"> € {{s2_a1_2|safe}}  </td>
    <td style="text-align:center">  € {{s2_a2_2|safe}}</td>
    <td style="text-align:center"> € {{s2_b1|safe}}</td>
    <td style="text-align:center"> € {{s2_b2|safe}} </td>
        <td style="font-weight: bold; text-align: center" width="130px">{{ form.s2_HL_2 }}</td>

  </tr>
<!-- Row 3 -->
  <tr>
    <th scope="row">3</th>
    <td style="text-align:center; horizontal align: middle"> € {{ist3}}</td>
    <td style="text-align:center; horizontal align: middle"> € {{s2_a1_3|safe}}  </td>
    <td style="text-align:center">  € {{s2_a2_3|safe}}</td>
    <td style="text-align:center"> € {{s2_b1|safe}}</td>
    <td style="text-align:center"> € {{s2_b2|safe}} </td>
        <td style="font-weight: bold; text-align: center" width="130px">{{ form.s2_HL_3 }}</td>

  </tr>
<!-- Row 4 -->
  <tr>
    <th scope="row">4</th>
    <td style="text-align:center; horizontal align: middle"> € {{ist4}}</td>
    <td style="text-align:center; horizontal align: middle"> € {{s2_a1_4|safe}}  </td>
    <td style="text-align:center">  € {{s2_a2_4|safe}}</td>
    <td style="text-align:center"> € {{s2_b1|safe}}</td>
    <td style="text-align:center"> € {{s2_b2|safe}} </td>
        <td style="font-weight: bold; text-align: center" width="130px">{{ form.s2_HL_4 }}</td>

  </tr>
<!-- Row 5 -->
  <tr>
    <th scope="row">5</th>
    <td style="text-align:center; horizontal align: middle"> € {{ist5}}</td>
   <td style="text-align:center; horizontal align: middle"> € {{s2_a1_5|safe}}  </td>
    <td style="text-align:center">  € {{s2_a2_5|safe}}</td>
    <td style="text-align:center"> € {{s2_b1|safe}}</td>
    <td style="text-align:center"> € {{s2_b2|safe}} </td>
        <td style="font-weight: bold; text-align: center" width="130px">{{ form.s2_HL_5 }}</td>

  </tr>
<!-- Row 6 -->
  <tr>
    <th scope="row">6</th>
    <td style="text-align:center; horizontal align: middle"> € {{ist6}}</td>
    <td style="text-align:center; horizontal align: middle"> € {{s2_a1_6|safe}}  </td>
    <td style="text-align:center">  € {{s2_a2_6|safe}}</td>
    <td style="text-align:center"> € {{s2_b1|safe}}</td>
    <td style="text-align:center"> € {{s2_b2|safe}} </td>
        <td style="font-weight: bold; text-align: center" width="130px">{{ form.s2_HL_6 }}</td>

  </tr>
<!-- Row 7 -->
  <tr>
    <th scope="row">7</th>
    <td style="text-align:center; horizontal align: middle"> € {{ist7}}</td>
    <td style="text-align:center; horizontal align: middle"> € {{s2_a1_7|safe}}  </td>
    <td style="text-align:center">  € {{s2_a2_7|safe}}</td>
    <td style="text-align:center"> € {{s2_b1|safe}}</td>
    <td style="text-align:center"> € {{s2_b2|safe}} </td>
        <td style="font-weight: bold; text-align: center" width="130px">{{ form.s2_HL_7 }}</td>


</tbody>
</table>


<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>



{% endblock %} -->
