
{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block content %}

<h1>FASE 2 ISTRUZIONI</h1>
<h3>LE SUE SCELTE RIGUARDO EVENTI INCERTI</h3>
<p />

<div class="w3-container border-top border-bottom">
<p></p>
    <p>La Fase 2 prevede <b>3 GRUPPI</b>  di scelte tra due opzioni A e B, per un totale di <b>25 SITUAZIONI</b>. </p>
      <p>Opzione A :</p>
      <ul>
        <li><b>ADERIRE</b> oggi (Gennaio 2022) alla copertura mutualistica annuale del Fondo IST.</li>
      </ul>
      <p>Opzione B :</p>
      <ul>
        <li><b>NON-ADERIRE</b> oggi (Gennaio 2022) alla copertura mutualistica annuale del Fondo IST.</li>
      </ul>

  <p> Nelle Scelte che Le verrano presentate varierà la quota fissa €/ha di adesione al Fondo IST.</p>

</div>
<p></p>
<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>
{% endblock %}
