
{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block content %}

<h1>FASE 2 ISTRUZIONI</h1>
<h3>I GRUPPI DI SCELTE</h3>
<p />

<div class="w3-container border-top border-bottom">
<p></p>
    <p>Nel <b>Gruppo_1</b> di scelte possono verificarsi due scenari:  </p>
    <p><b>Scenario 1 :</b></p>
      <ul>
        <li>Il reddito/ha da mele alla fine del 2022 sarà inferiore alla media di almeno il <b> - 20% </b></li>
      </ul>
      <p><b>Scenario 2 :</b></p>
      <ul>
        <li>Il reddito/ha da mele alla fine del 2022 sarà superiore alla media di almeno il <b> + 10% </b></li>
      </ul>
    </div>

    <div class="w3-container border-bottom">
        <p></p>
    <p>Nel <b>Gruppo_2</b> di scelte possono verificarsi due scenari:  </p>
    <p><b>Scenario 1 :</b></p>
      <ul>
        <li>Il reddito/ha da mele alla fine del 2022 sarà inferiore alla media di almeno il <b> - 30% </b></li>
      </ul>
      <p><b>Scenario 2 :</b></p>
      <ul>
        <li>Il reddito/ha da mele alla fine del 2022 sarà superiore alla media di almeno il <b> + 20% </b></li>
      </ul>
    </div>

    <div class="w3-container  border-bottom">
        <p></p>
    <p>Nel <b>Gruppo_3</b> di scelte possono verificarsi due scenari:  </p>
    <p><b>Scenario 1 :</b></p>
      <ul>
        <li>Il reddito/ha da mele alla fine del 2022 sarà inferiore alla media di almeno il <b> - 50% </b></li>
      </ul>
      <p><b>Scenario 2 :</b></p>
      <ul>
        <li>Il reddito/ha da mele alla fine del 2022 sarà superiore alla media di almeno il <b> - 40% </b></li>
      </ul>
</div>
<p></p>
<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}
